
.form-editar-produto .container{
    flex-direction: column;

}   

.form-editar-produto  input{
       margin-top: 10px;
       width: 270px;
       height: 40px;
       border-radius: 5px;
       background: #FFFFFF;
       border: 1px solid #ECEAEA;
       padding: 0px 10px; 
       font-size: 11px; 
       
}   

.form-editar-produto button{
    margin-top: 10px; 
    height: 45px;
    background: #D11919;
    border: 1px solid #ECEAEA;
    color: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    outline: none;
}  


::placeholder {
   color: rgba(157, 137, 137, 0.65);
 }
 
.sistema-cadastro{
   color: rgba(157, 137, 137, 0.65);
   font-family: 'Nunito', sans-serif;
   font-size: 12px;
   text-align: center;
   margin-top: 23px;
   font-weight: 400;
   font-family: 'Nunito', sans-serif;
}