.imagem{
    height: 400px;
    width: 500px;
    margin-top: -40px;
} 

.sistema{
    color: rgba(157, 137, 137, 0.65);    
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    text-align: end;
    margin-top: 10px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;

}