.imagem{
    height: 325px;
    width: 300px;
    margin-left: 15px;
} 

.sistema{
    color: rgba(157, 137, 137, 0.65);    
    font-family: 'Nunito', sans-serif;
    font-size: 11px;
    text-align: end;
    margin-top: 0px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;

}